* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
.wrapper {
	width: 100%;
	background-color: #a292b3;
	height: 1.8vh;
}
.width {
	width: 80vw;
	margin: auto;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	margin: 4.8vh 0;
}

.logo p {
	font-size: 2.85vmax;
	text-transform: uppercase;
	color: #ac9ebb;
	margin-left: 1.3vw;
}

nav {
	display: flex;
	align-items: center;
}

nav li a {
	color: #646464;
	font-size: 1.4vmax;
}

li {
	list-style-type: none;
	padding-left: 4.8vw;
}

a {
	text-decoration: none;
}

.main-img {
	height: 74.2vh;
	background: url(..//Image/nature.png) no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.main-img span {
	color: #fbfafa;
	padding-bottom: 5vh;
	font-size: 8.3vmax;
	font-family: 'Times new roman';
	position: relative;
	z-index: 2;
}

.main-img h1:before {
	content: 'Minto';
	color: #252739;
	padding-bottom: 5vh;
	font-size: 8.3vmax;
	font-family: 'Times new roman';
	position: absolute;
	z-index: 1;
    margin-left: -.45vw;
    margin-top:  .5vh;
}

.main-img p {
	font-size: 2.3vmax;
	color: #fff;
}

.arrow {
	position: relative;
	width: inherit;
	display: flex;
	justify-content: space-between;
	bottom: 15vh;
	width: 80vw;
	height: 10vh;
}

.left-arrow img,
.right-arrow img {
	max-width: 7.5vw;
	height: auto;
}

.text {
	margin-top: 6vh;
	border-top: 2px solid #bfbfbf;
	border-bottom: 2px solid #bfbfbf;
	padding: 3.5vh 0;
	text-align: center;
	font-style: italic;
	font-size: 1.5vmax;
}

.text span {
	color: #6d5488;
	font-weight: 800;
}

.main {
	height: auto;
	margin-top: 4.5vh;
	display: flex;
}

.circle img {
	width: 23.7vw;
	height: 23.7vw;
	border-radius: 50vh;
	border: 1vw solid #d6d7d7;
	box-shadow: 3px 3px 10px #d6d7d7;
}

.text1 {
	margin-left: 2vw;
	margin-top: 12vh;
}

.text1 h2 {
	color: #505051;
	font-size: 2.25vmax;
	margin-bottom: 5.6vh;
}

.text1 p {
	font-size: 1.25vmax;
	padding-right: 1.5vw;
	line-height: 1.7vw;
	color: #8b8b8b;
}

.text1 .more {
	font-style: italic;
	text-align: right;
	font-size: 1.13vmax;
}

.text1 img {
	margin-left: .5vw;
}

.flex {
	display: flex;
	justify-content: flex-end;
}

.featured {
	margin-top: 9vh;
}

.featured p {
	margin-bottom: 6.8vh;
	font-size: 1.7vmax;
}

.featured span {
	font-weight: 700;
}

.clients {
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1vw;
	border: 1px solid #dedede;
}

.clients img {
	width: 12vw;
	height: auto;
}

.wrap {
	width: 100%;
	background-color: #e8e8e8;
	margin-top: 9.2vh;
}

.footer {
	height: 11vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer p {
	font-size: 1.25vmax;
	color: #454242;
}

.footer-img img:first-child {
	margin-right: 1.7vw;
}

.footer-img img {
	width: 2.2vw;
	height: auto;
}

@media
	only screen and ( min-device-width: 320px ) 
and ( max-device-width: 480px ),

	only screen and ( max-width: 320px ),

	only screen and ( min-device-width: 768px )
and ( max-device-width: 1024px )
{

.width {
	width: 90vw;
}

header {
	flex-flow: column wrap;
	height: auto;
}

.logo img {
	width: 20vw;
}

.logo p {
	font-size: 5.5vmax;
}

nav {
	flex-flow: column wrap;
	height: auto;
}

nav li {
	padding: 3vw 8vw;
	width: 100%;
    text-align: center;
}

nav li a {
	font-size: 3.5vmax;
}

nav li img {
	display: none;
}

.circle {
	display: none;
}

.text1 {
    margin-top: 0vh;
	text-align: center;
}

.text1 p {
	line-height: 5vw;
	font-size: 1.8vmax;
}

.flex {
	margin-top: 1.5vh;
}

.text1 .more {
    font-size: 2.5vmax;
}

.text1 img {
    margin-left: 1vw;
    width: 6vw;
}

.featured {
    margin-top: 4vh;
	text-align: center;
}

.clients img {
    width: 21vw;
	height: 3vh;
}

.clients {
	height: 10vh;
}

.wrap {
	margin-top: 3.2vh;
}

.footer p {
    font-size: 2vmax;
}

.footer-img img {
    width: 7.2vw;
    height: auto;
}

}
