* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica', sans-serif;
}

.menu {
	height: 14vh;
	width: 100%;
	background-color: #4c97a2;
	color: #fff;
}

.flex {
	width: 80%;
	height: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu h2 {
	font: 2.9vmax 'Cherry Swash', cursive;
}

.menu a {
	text-decoration: none;
	color: #adcbcf;
	text-transform: uppercase;
	font-size: 1.3vmax;
	margin-left: 2vw;
}

.menu a:after {
	content: "/";
	margin-left: 1.8vw;
}

.menu a:last-child::after {
	content: "";
}

.menu a:hover {
	transition: .5s;
	color: #fff;
}

.logo {
	height: 86vh;
	width: 100%;
	background: url(..//Image/black-sea.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	color: #e4e4e4;
}

.logo h2 {
	text-transform: uppercase;
	font-size: 3.2vmax;
	margin-bottom: 1.5vh;
}

.logo button {
	font-size: 2.2vmax;
	color: #e4e4e4;
	background-color: transparent;
	margin-top: 6.6vh;
	padding: .5vw 2.8vw;
	border: 4px solid #afb1b4;
	border-radius: 1vw;
}

.content {
	width: 100%;
	height: 69vh;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}

.content h3 {
	font-size: 2.2vmax;
	font-weight: 100;
	color: #646773;
	margin-top: 5vh;
}

.content h3:nth-child(2) {
	margin-bottom: 7.2vh;
}

.content p {
	color: #4c505d;
	font-size: 1.1vmax;
}

.images {
	width: 31vw;
	display: flex;
	justify-content: space-between;
	margin-top: 11vh;
}

.images img {
	height: 4vw;
}

.face_text {
	height: 75vh;
	width: 100%;
	background-color: #00d089;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.photo {
	display: flex;
}

.photo p {
	font-size: 1.9vmax;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	margin-top: 1vh;
}

.photo p:after {
	content: ",,";
	display: flex;
	justify-content: center;
	align-items: center;
	color: #33d9a1;
	font-size: 6vw;
}

.text2 {
	margin-top: 9vh;
	color: #fff;
	line-height: 2vw;
}

.maps {
	width: 100%;
	height: 40vw;
	background: url(..//Image/google_maps.png) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.forms {
	height: 32vw;
	width: 32vw;
	background-color: #fff;
	border: 2px solid #ebeae7;
	box-shadow: 10px 10px 10px #ebeae7;
	border-radius: 20vw;
	opacity: .75;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

form input,
form textarea {
	width: 21vw;
	height: 5vh;
	margin-bottom: 2.8vh;
}

[placeholder] {
	padding-left: 1.5vw;
}

form textarea {
	height: 12vh;
}

.okay img {
	width: 5vw;
}

footer {
	height: 40px;
	background-color: #33d9a1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-transform: uppercase;
}
