main {
		width: 98%;
		margin: 0 auto;
		margin-top: 5vh;
		display: flex;
	.init {
	
			margin-top: 2vh;
	
		li {
			background: url(../one.png) no-repeat;
			background-position: 11px 5px;
			padding-left: 2vw;
		}

		a:hover {
			color: #f6409b;
			transition: .4s;
		}
	}

	.in-list {
		li {
			background: url(../over.png) no-repeat;
			background-position: 0% 50%;
			padding-left: 1vw;

		}

		a:hover {
			color: #fdb5d9;
			transition: .4s;
		}
			}

		.left-menu {
			@include left-width;
			line-height: 1.6;

			h4 {
				@include main-titles;
			}
		}

		.family {
			@include left-width;
			margin-top: 5vh;

			h4 {
				@include main-titles;
			}

			.block-text {
				padding: 0px 5px 5px;

				h6 {
					color: blue;
					text-decoration: underline;
					font-weight: 900;
					font-size: 1.1vmax;
				}

				.today {
					display: flex;
					justify-content: flex-end;
					align-items: center;

					img {
						padding-left: 1vw;
					}
				}

				.numbers {
					text-decoration: underline;
					color: blue;
					font-weight: 900;
					cursor: pointer;
				}
			}
		}

		.block {
			display: flex;
			width: 100%;
			margin-top: 3vh;

			figcaption {
				margin-top: 1.5vh;
				font-size: 1.1vmax;
			}
		}

}
		.all-news {
			@include news;
		}

		.article {
			@include left-width;
			margin-top: 5vh;

			h4{
				@include main-titles;
			}
		}

		.content-article {

			padding: 2vh 1vw 0vh .8vw;

			a {
				@include head-articles;
			}

			p:first-child {
				padding-bottom: 1vh;
			}
		}

	.main-section {
		background-color: #eee6dc;
		width: 100%;
		margin: -5vh 1vw 0vh;
	}

	.health {

 		$pinkes: #ff56ab;
		padding: 1vw;
		color: #676767;		
		border-bottom: 2px solid #cbc9c6;

		 h4 {
		 	color: $pinkes;
		 	margin-top: 3vh;
		}

		img {
			float: left;
			padding: .5vw .5vw 0vw 0vw;
		}

		p+p {
			margin-top: 1vh;
		}

		h6 {
			text-align: right;

			span {
				color: #73b503;
			}
		}
	}

	.cooking {
		@include left-width;
	}

	.clearfix {
		clear: both;
	}

	.comments-flex {
		display: flex;
	}

	.comments {

		padding: 1vw;
		color: #676767;	


		h4 {
			color: #ff56ab;
			margin-bottom: 1vh;
		}

		p {
			text-align: right;
		}

		.text-comments {
			width: 80%;
			padding: 1vw 0vw 0vw 1vw;

		}

	figure {

		figcaption {
			text-align: center;
			color: #73b503;
			font-weight: 900;
			font-size: 1.1vmax;
		}
	}

	.border {
		border-bottom: 2px solid #cbc8c5;
		padding: 0px 0px 7px 0px;
	}
}

	.forms {
		padding: 1vw;

		h4 {
			color: #6cac00;
		}

		input,
		textarea {
			width: 80%;
			border: 2px solid #ccc;
			border-radius: 1vw;
			padding: .5vw;
			margin-top: 2vh;
		}

		p {
			margin-top: 2vh;
		}

		.btn {
			display: flex;
			align-items: center;
			margin-top: 5vh;
			width: 80%;
			justify-content: space-between;

			p {
				font-size: 1vmax;
				font-weight: 900;
			}

			button {
				padding: .8vw 2.5vw;
				background-color: #a5d850;
				border-radius: 1vw;
				color: #fff;
				font-size: 1.2vmax;
				margin-right: 5vh;
			}
		}
	}

	.right-sidebar {

		.content-cooking {
			@include left-width;
		}

		.cooking {
			border: none;
		}
		h4 {
			@include main-titles;
		}


		.cooking-block {
			margin-top: 2vh;
			border-bottom: 2px dotted #d0d0d0;
			padding: 0vw .5vw;

		a {
			@include head-articles;
			font-size: 1.1vmax;
		}
		}
	}

	.image-text {

		margin-top: 2vh; 
		img {
			float: left;
			padding-right: .5vw;
		}

		p {
			font-size: 1.1vmax;
		}

		.all-news {
			@include news;
			color: #73b503;
		}
	}

	.poll {

		@include left-width;

		margin-top: 5vh;

		p:nth-child(2) {
			padding: 1vw;
			color: #608099;
			font-weight: 900;
		}

		p {
			padding: .2vw 1vw;
		}

		.bttn {
			padding: .6vw 2vw;
			border-radius: 3vw;
			text-decoration: underline;
			font-size: 1.2vmax;
			color: #608099;
		}

		.center {
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
			margin: 2vh 0vh;
		}

		a {
			text-align: center;
			border-bottom: 2px solid #608099;
			color: #608099;
		}
	}

	.right-comments {
		margin-top: 5vh;
		@include left-width;
	}

	.comments-block {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin-top: 2vh;
		border-bottom: 2px dotted #b3b2b2;
		padding: 0vw .5vw;

		img {
			margin-right: 1vw;
			margin-top: .5vh;
		}

		.decor {
			color: #ff56ab;
			font-size: .9vmax;
		}

		.username {
			color: #ff56ab;
			font-weight: 900;
		}
	}

	.right-images {
		margin: 10vh 0vh 5vh;
		display: flex;
		justify-content: center;

		img {
			max-width: 100%;
		}
	}
